
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{
    width: 100%;
    height: 80px;
    background-color: #604829;
    position: fixed;
    z-index: 1;
}

.logo{
    width: 100px;
    padding: 0;
    margin-top: -1.5vh ;
    margin-left: 30vh;
}

nav{
    position: absolute;
    right: 300px;
    top: 30%;
}

nav a{
    margin-right: 50px;
    font-family: 'Oswald', sans-serif;
}

.link-topo{
    font-size: 18px;
    color: #c4a47c;
    text-decoration: none;
    text-shadow: 4px 4px 2px black;
}

#banner{
    height: 100vh;
    background-image: url(assets/parallax-imagem1.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#banner h1{
    position: absolute;
    top: 45.5%;
    left: 18%;
    font-size: 4rem;
    font-family: 'Fraunces', serif;
    font-weight: normal;
    color: #fff;
}

.container-informacao{
    width: 60%;
    height: 35vh;
    margin: 40px auto;
}

.container-informacao h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Fraunces', serif;
    font-weight: normal;
    color: #c4a47c;
}

.container-informacao p{
    width: 800px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 26px;
    color: #666;
}

.container-parallax{
    width: 100%;
    height: 40vh;
    position: relative;
}

.container-parallax h3{
    position: absolute;
    padding: 5px 15px;
    width: 300px;
    color: #fff;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    line-height: 26px;
    top: 15vh;
    left: 40vw;
    background-color: #604829;
}

.img-parallax1{
    background-image: url(assets/parallax-imagem2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img-parallax2{
    background-image: url(assets/parallax-imagem3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contato{
    width: 100%;
    height: 600px;
    background-image: url(assets/parallax-imagem4.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-contato{
    width: 800px;
    margin: 40px auto;
    text-align: center;
    padding-top: 40px;
}


.container-contato h2{
    width: 300px;
    margin-left: 250px;
    margin-bottom: 40px;
    padding: 5px 20px;
    background-color: #604829;
    color: #fff;
}
